<!DOCTYPE html>
<!-- Déclaration du fragment principal – le layout layout-filmotheque -->
<!-- Paramétrer le layout pour des valeurs dynamiques -->
<!-- Rendre variable le contenu de la page -->
<!-- Rendre variable le titre de la page -->
<!-- Permettre d’ajouter ou non des ressources CSS -->
<!DOCTYPE html>
<html th:fragment="layout (content, titrePage)" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Le titre devient dynamique grâce au paramètre -->
<title th-text="${titrePage}">Filmotheque</title>

<!-- Déclaration des CSS par défaut : -->
<link rel="stylesheet" data-th-href="@{/css/layout.css}">
<link rel="stylesheet" data-th-href="@{/css/general.css}">

<!-- Permettre d’ajouter ou non des ressources CSS -->
<th:block data-th-replace="${ressourcesSupp} ?: ~{}"></th:block>

<link rel="icon" data-th-href="@{/images/logoENI.png}" sizes="32x32">
</head>
<body>
	<!-- Intégration du fragment d'entête -->
	<div data-th-replace="~{fragments/fragment-entete :: frag-entete}"></div>

    <nav>
        <!-- Ton menu de navigation ici -->
        <a th:href="@{/series}">Toutes les séries</a>
    </nav>

    <main>
        <!-- C'est ici que le body de tes autres pages sera injecté -->
        <div th:replace="${content}"></div>
    </main>

	<!-- Intégration du fragment de pied de page -->
	<div data-th-replace="~{fragments/fragment-piedpage :: frag-piedpage}"></div>
</body>
</html>
