<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		data-th-replace="~{layouts/layout :: layout-filmotheque( 
						titrePage=~{:: title},
						contenuPage=~{:: main},
						ressourcesSupp=~{:: #ressources-css})}">
<head>
	<!-- Créer comme titre de page -->
	<title>Créer</title>
	<!-- Ajout de CSS tp-form.css -->
	<th:block id="ressources-css">
		<link rel="stylesheet" data-th-href="@{/css/tp-film-form.css}">
	</th:block>
</head>
<body>
	<main>
			<h1>Création d'un film [En cours de construction]</h1>
			<ul class="flex-outer">
				<li>
				<label for="inputGenre">Genre : </label> 
				<select id="inputGenre">
					<option data-th-each="genre : ${genresEnSession}"
						data-th-text="${genre.titre}" data-th-value="${genre.id}"></option>
				</select>
				</li>
			</ul>
		<form th:action="@{/films/enregistrer}" th:object="${film}" method="post">
    <label>Titre :</label>
    <input type="text" th:field="*{titre}" />
    <span th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}" style="color:red;"></span>

    <label>Genres :</label>
    <div th:each="genre : ${allGenres}">
        <input type="checkbox" th:field="*{genres}" th:value="${genre.id}" />
        <label th:text="${genre.titre}"></label>
    </div>

    <label>Résumé :</label>
    <textarea th:field="*{overview}"></textarea>
    <span th:if="${#fields.hasErrors('overview')}" th:errors="*{overview}" style="color:red;"></span>

    <button type="submit">Enregistrer le film</button>
</form>
	</main>
</body>
</html>
